@charset "UTF-8";

@font-face {
    font-family: 'Cinzel';
    src:url('../fonts/Cinzel-Bold.otf') format('opentype');
}

:root {
    --cor01: #FF2B1F;
    --cor02: #DB0F0B;

    --font-cinzel: 'Cinzel', cursive;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background: var(--cor01) url("../imagens/wallpaperflare.com_wallpaper.jpg") center center no-repeat fixed;
    background-size: cover;
}

header {
    background-color: var(--cor01);
    width: 100vw;
    height: 80px;
}
marca.logoenome {
    position: relative;
    top: 18px;
    left: 20px;
    display: inline;
    width: 260px;
    height: 40px;
}


marca h1.nome {
    margin-top: 25px;
    position: relative;
    top: -8px;
    color: white;
    text-align: center;
    font-family: var(--font-cinzel);
    display: inline;
}

infos {
    display: inline;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 40px;
}

infos a.infos {
    position: relative;
    top: 6px;
    color: white;
    text-decoration: none;
    padding: 29px 16px;
}



infos a.infos:hover {
    background-color: var(--cor02);
}

login {
    display: inline-block;
    position: relative;
    top: 6px;
}

login a.login {
    color: white;
    text-decoration: none;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    border-radius: 8px;
    background-color: var(--cor01);
    border: solid 2px white;
    position: fixed;
    top: 15px;
    right: 30px;
}

a.login:hover {
    color: var(--cor01);
    background-color: white;
}