@charset "UTF-8";

@font-face {
    font-family: 'Cinzel';
    src:url('../fonts/Cinzel-Bold.otf') format('opentype');
}

:root {
    --cor01: #FF2B1F;
    --cor02: #DB0F0B;

    --font-cinzel: 'Cinzel', cursive;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background: var(--cor01) url("../imagens/shenlong-background.jpg") center center no-repeat fixed;
    background-size: cover;
}

header {
    background-color: var(--cor01);
    padding: 16px 0px;
}

.conteudo {
    display: inline-block;
    margin-left: 26px;
}

.logoRed {
    display: table-cell;
    float: left;
}

.nome {
    color: white;
    text-align: center;
    font-family: var(--font-cinzel);
    display: table-cell;
    float: left;
    margin: 0px 20px 0px 10px;
}

.logo-insta {
    width: 20px;
    margin: 8px;
    display: table-cell;
    float: left;
}

nav {
    position: relative;
    right: auto;
    top: 9px;
    display: table-cell;
    float: left;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 1120px;
}

a.infos {
    color: white;
    text-decoration: none;
    padding: 26px 10px;
}

a.infos:hover {
    background-color: var(--cor02);
}

a.login {
    color: var(--cor01);
    text-decoration: none;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    border-radius: 8px;
    background-color: white;
    margin: 10px;
}

a.login:hover {
    background-color: #d8d8d8;
}