@charset "UTF-8";

@font-face {
    font-family: 'Cinzel';
    src:url('../fonts/Cinzel-Bold.otf') format('opentype');
}

:root {
    --font-cinzel: 'Cinzel', cursive;

    --bg-color: rgb(37, 37, 37);
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: grey;
    color: white;
}

main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bloco {
    width: 400px;
    padding: 60px;
    background-color: white;
}

h1 {
    font-family: var(--font-cinzel);
    color: var(--bg-color);
    text-align: center;
    cursor: context-menu;
}

p {
    color: var(--bg-color);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    margin: 40px 0px 20px 0px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.blocos {
    display: flex;
    flex-direction: row;
    width: 100%;
    border: 1px solid var(--bg-color);
}

.blocos input {
    padding: 12px;
    width: 100%;
    border: none;
    outline: none;
}

.icons {
    padding: 10px;
    color: black;
}

.oculto {  
    cursor: pointer;
}

.aparente {
    cursor: pointer;
}

#senhaVisivel {
    display: none;
}

#confirmSenhaVisivel {
    display: none;
}

button {
    background-color: var(--bg-color);
    color: white;
    padding: 12px;
    cursor: pointer;
}

form p {
    margin: 0px;
    font-size: 1em;
}

a {
    color: var(--bg-color);
    text-decoration: none;
    font-weight: bold;
}


