@charset "UTF-8";

@font-face {
    font-family: 'Cinzel';
    src:url('../fonts/Cinzel-Bold.otf') format('opentype');
}

:root {
    --font-cinzel: 'Cinzel', cursive;

    --bg-color: rgb(37, 37, 37);
}

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: rgb(19, 114, 192);
    color: white;
}

.blocos {
    background-color: var(--bg-color);
}

/* Aqui começa o Header */

header {
    color: white;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 34px;
}

.icone-nome {
    display: flex;
    gap: 6px;
}

.logo {
    width: 40px;
}

.titulo {
    font-family: Cinzel;
}

.icone-nome span {
    display: none;
    border-radius: 100px;
    padding: 10px;
    border: 2px solid transparent;
}

.menus a {
    color: white;
    text-decoration: none;
    padding: 41px 10px;
}

.fechado:hover {
    color: gray;
}

.botoes-login {
    display: flex;
    gap: 16px;
}

.botoes-login button {
    background-color: transparent;
    color: white;
    border: 2px solid white;
    padding: 10px 20px;
    -webkit-transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
    cursor:pointer;
}

.botoes-login button:hover {
    box-shadow: 0 0 40px 40px white inset;
    color: var(--bg-color);
}

main {
    display: flex;
    background-color: rgb(19, 114, 192);
    flex: 1 2 100px;
    justify-content: center;
    align-items: center;
}

.bloco {
    width: 400px;
    padding: 60px;
    background-color: white;
}

h2 {
    font-size: 2.3em;
    font-family: var(--font-cinzel);
    color: var(--bg-color);
    text-align: center;
    cursor: context-menu;
}

p {
    color: var(--bg-color);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    margin: 40px 0px 20px 0px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.blocos_input {
    display: flex;
    flex-direction: row;
    width: 100%;
    border: 1px solid var(--bg-color);
}

.blocos_input input {
    padding: 12px;
    width: 100%;
    border: none;
    outline: none;
}

.icons {
    padding: 10px;
    color: black;
}

.oculto {  
    cursor: pointer;
}

.aparente {
    cursor: pointer;
}

#senhaVisivel {
    display: none;
}

#confirmSenhaVisivel {
    display: none;
}

.botao {
    background-color: var(--bg-color);
    color: white;
    padding: 12px;
    cursor: pointer;
    border: var(--bg-color);
    transition: 0.2s;
    border-radius: 10px;
}

.botao:hover {
    background-color: rgb(73, 73, 73);
}

form p {
    margin: 0px;
    font-size: 1em;
}

.cliqueAqui {
    color: var(--bg-color);
    text-decoration: none;
    font-weight: bold;
}

footer {
    height: 100px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

footer p {
    font-size: 1em;
    color: white;
}


