@charset "UTF-8";

@media screen and (min-width:100px) and (max-width: 768px) {

banner {
    height: 160px;
    flex-direction: column;
}

marca.logo-nome {
    width: 100vw;
    height: 50vh;
    margin: auto;
}

foto {
    display: flex;
    align-items: center;
    width: 14vw;
}

img.logo {
    width: 40px;
    height: 40px;
    margin: 0px;
    margin-left: 20px;
}

titulo {
    display: flex;
    width: 72vw;
}

h1.nome {
    margin: auto;
}

botoes.menu-login  {
    width: 100vw;
    height: 50vh;
    justify-content: center;
    position: relative;
    bottom: 10px;
}

menu a.infos {
    display: none;
}

burguer {
    display: flex;
    width: 14vw;
    height: 42px;
    justify-content: end;
    margin-top: 20px;
}

span.material-symbols-outlined {
    display: flex;
    align-items: center;
    color: white;
    cursor: pointer;
    margin-right: 10px;
    padding: 10px;
    border-radius: 100px;
}

span.material-symbols-outlined:hover {
    background-color: #DB0F0B;
}
}   