@charset "UTF-8";

@media screen and (min-width:100px) and (max-width: 840px) {

    header {
        height: 100px;
        flex-direction: column;
    }

    header logo {
        width: 100%;
        margin: 0px;
    }

    header logo img {
        margin-left: 20px;
    }

    header logo h1 {
        margin: auto;
        position: relative;
        right: 6px;    
    }

    span.material-symbols-outlined {
        display: block;
        margin-right: 20px;
        border-radius: 100px;
        padding: 5px;
    }

    span.material-symbols-outlined:hover {
        background-color: rgb(77, 77, 77);
    }

    menus a {
        display: none;
    }

    header login {
        width: 100%;
        padding: 0px;
        margin: 0px;
        justify-content: center;
    }

    header login a {
        width: 50%;
        margin: 0px;
        justify-content: center;
        border-radius: 0px;
        text-align: center;
        border-bottom: solid 4px rgb(37, 37, 37);
    }

    header login a#borda1{
        border-right: solid 2px rgb(37, 37, 37);
    }

    header login a#borda2 {
        border-left: solid 2px rgb(37, 37, 37);
    }

    /* Header termina aqui */

    main div.banner {
        background-image: url(../imagens/pexels-mikhail-fesenko-9553909.jpg);
        height: 600px;
    }
    main div.banner frase {
        align-items: end;
        justify-content: center;
    }

    main div.banner frase h1 {
        font-size: 20px;
    }

    div.dSeta {
        display: none;
    }

    div.cartazes {
        align-items: center;
        flex-direction: column;
        height: 2000px;
    }

    div.cartazes div.cartaz {
        width: 90%;
        height: 700px;
    }
}
   